@using Lealthy_Hospital_Application_System.Models
@model List<DiagnosisModel>

@{
ViewBag.Title = "Diagnosis Page";
}

@if (TempData["SuccessMessage"] != null)
{
<div class="alert alert-success" role="alert">
    <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
    @TempData["SuccessMessage"]
</div>
}
@if (TempData["ErrorMessage"] != null)
{
<div class="alert alert-danger" role="alert">
    <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
    @TempData["ErrorMessage"]

</div>
}
<h2 class="text-center">List of Diagnosis</h2>
<table class="table" id="tables">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Type of Diagnosis</th>
        <th scope="col">Date</th>
        <th scope="col">Requested By</th>
        <th scope="col">Patient</th>
        <th scope="col">Treatment</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @if (Model != null && Model.Any())
    {
    foreach (DiagnosisModel diagnosis in Model)
    {
    <tr>
        <th scope="row">@diagnosis.DiagnosisId</th>
        <td>@diagnosis.TypeOfDiagnosis</td>
        <td>@diagnosis.Date.ToString("dd/MM/yyyy")</td>
        <td>@diagnosis.StaffName</td>
        <td>@diagnosis.PatientName</td>
        <td>@diagnosis.Treatment</td>
        <td>
            <a asp-route-id="@diagnosis.DiagnosisId" asp-action="UpdateDiagnosis" asp-controller="Diagnosis">
                <i class="fas fa-notes-medical text-warning" title="Edit Diagnosis"></i>
            </a>
            <a asp-route-id="@diagnosis.DiagnosisId" asp-action="DeleteDiagnosis" asp-controller="Diagnosis">
                <i class="fas fa-trash-alt text-danger" title="Delete Laboratory Test"></i>
            </a>
        </td>
    </tr>
    }
    }
    </tbody>
</table>