@using Lealthy_Hospital_Application_System.Enum
@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Lealthy Hospital Application System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Lealthy_Hospital_Application_System.styles.css" asp-append-version="true"/>
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css"></link>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f8ff; /* Light blue background */
    }
    header {
        background-color: #1e90ff;
        color: white;
        padding: 20px;
        display: flex;
        align-items: center; 
        justify-content: space-between; 
    }
    header img {
        height: 100px;
        margin-right: 20px; 
    }
    header .header-content {
        display: flex;
        align-items: center;
        flex-grow: 1; 
    }
    header h1 {
        margin: 0; 
        font-size: 24px;
        flex-grow: 1; 
        text-align: center; 
    }
    header a {
        margin-left: auto; 
        color: white; 
        text-decoration: none; 
    }
    nav {
        display: flex;
        justify-content: center;
        background-color: #4682b4; 
        padding: 10px;
    }
    nav a {
        color: white;
        text-decoration: none;
        margin: 0 15px;
        font-weight: bold;
    }
    nav a:hover {
        text-decoration: underline;
    }
    .container {
        padding: 20px;
        text-align: center;
    }
    .card {
        background-color: white;
        border: 1px solid #dcdcdc;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        margin: 20px;
        padding: 20px;
        width: calc(33.333% - 40px);
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
    }
    .card h2 {
        color: #1e90ff;
    }
    footer {
        background-color: #1e90ff;
        color: white;
        padding: 5px;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        margin: 0;
    }
</style>
<body>
<header>
    <div class="header-content">
        <a asp-action="Index" asp-controller="Home" class="header-content">
            <img src="@Url.Content("~/images/logo.png")" alt="Lealthy Hospital Logo"/>
        </a>
    </div>
    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="StaffMyDetails">
        
        @if(ViewBag.Access == RoleAccessEnum.Administrator)
        {
        <i class="fas fa-user-secret text-success" title="Online"></i>
        @(ViewBag.Staff)<div class="text-end">@ViewBag.Access</div>
        
        }
         @if(ViewBag.Access == RoleAccessEnum.Receptionist)
        {
        <i class="fas fa-user-tie text-success" title="Online"></i>
        @(ViewBag.Staff)<div class="text-end">@ViewBag.Access</div>
        }
         @if(ViewBag.Access == RoleAccessEnum.Doctor)
        {
        <i class="fas fa-user-md text-success" title="Online"></i>
        @(ViewBag.Staff)<div class="text-end">@ViewBag.Access</div>
        }
         @if(ViewBag.Access == RoleAccessEnum.Nurse)
        {
        <i class="fas fa-user-nurse text-success" title="Online"></i>
        @(ViewBag.Staff)<div class="text-end">@ViewBag.Access</div>
        }
        </a>
</header>
<nav>
    <a href="/Home/Index">Home</a>
    @if (ViewBag.Access == RoleAccessEnum.Administrator)
    {
        <a href="/Staff/Index">Staff</a>
    }
    @if (ViewBag.Access == RoleAccessEnum.Administrator || ViewBag.Access == RoleAccessEnum.Receptionist)
    {
        <a href="/Appointment/Index">Appointments</a>
    }
    @if (ViewBag.Access == RoleAccessEnum.Doctor)
    {
    <a href="/Patient/DoctorAppointment">Appointments</a>
    }
    @if (ViewBag.Access != RoleAccessEnum.Nurse)
    {
        <a href="/Patient/Index">Patients</a>
    }
    @if (ViewBag.Access == RoleAccessEnum.Administrator || ViewBag.Access == RoleAccessEnum.Doctor)
    {
        <a href="/Diagnosis/Index">Diagnosis</a>
    }
    @if (ViewBag.Access != RoleAccessEnum.Receptionist)
    {
        <a href="/LabTests/Index">Laboratory Tests</a>
    }
    <a href="/Login/Logout">Logout</a>
</nav>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted text-white">
    <div class="text-center text-white">
        &copy; 2024 - Lealthy Hospital Application System - <a asp-area="" asp-controller="Login" asp-action="Privacy" class="text-warning">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>