@model Lealthy_Hospital_Application_System.Models.PatientModel

@{
ViewData["Title"] = "Create Patient";
}

<h1>Create Patient</h1>
<div class="text-center">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                        <form class="max-1 mx-md-4" asp-controller="Patient" asp-action="CreatePatient" method="post">

                            <div class="d-flex flex-row align-items-center mb-1">
                                <div class="form-outline flex-fill mb-0">
                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control" asp-for="Name" placeholder="Type patient name"/>
                                    @Html.ValidationMessageFor(x => x.Name)
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center mb-1">
                                <div class="form-outline flex-fill mb-0">
                                    <label class="form-label">Email</label>
                                    <input type="text" class="form-control" asp-for="Email" placeholder="Type patient email"/>
                                    @Html.ValidationMessageFor(x => x.Email)

                                </div>
                            </div>
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label">Mobile</label>
                                <input type="text" class="form-control" asp-for="Mobile" placeholder="Type your mobile"/>
                                @Html.ValidationMessageFor(x => x.Mobile)

                            </div>
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label">Address</label>
                                <input type="text" class="form-control" asp-for="Address" placeholder="Type your Address"/>
                                @Html.ValidationMessageFor(x => x.Address)

                            </div>
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label">Birthdate</label>
                                <input type="date" class="form-control" asp-for="DateOfBirth" placeholder="Select your Birthdate"/>
                                @Html.ValidationMessageFor(x => x.DateOfBirth)
                            </div>
                      
                            <br/>
                            <button type="submit" class="btn btn-primary">Confirm</button>
                            <a class="btn btn-secondary" asp-controller="Patient" asp-action="Index">Back</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
