@model List<PatientModel>

@{
    ViewBag.Title = "Patient Page";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
        @TempData["ErrorMessage"]

    </div>
}
<h2 class="text-center">List of Patients</h2>

@if (ViewBag.Doctor != "Doctor")
{
    <div class="text-start">
    <a asp-controller="Patient" asp-action="CreatePatient">
        <i class="fas fa-user-plus text-success fa-2x" title="Add Patient"></i>
    </a>
    </div>
}
<table class="table" id="tables">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">Address</th>
        <th scope="col">Date of Birth</th>
        <th scope="col"></th>
        
    </tr>
    </thead>   
    <tbody>
    @if (Model != null && Model.Any())
    {
        foreach (PatientModel patient in Model) 
        {
            <tr>
                <th scope="row">@patient.PatientId</th>
                <td>@patient.Name</td>
                <td>@patient.Email</td>
                <td>@patient.Mobile</td>
                <td>@patient.Address</td>
                <td>@patient.DateOfBirth.ToString("dd/MM/yyyy")</td>
                <td>
                    @if (ViewBag.Doctor != "Doctor")
                    {
                        <a asp-action="UpdatePatient" asp-controller="Patient" asp-route-PatientId="@patient.PatientId">
                            <i class="fas fa-user-edit text-warning" title="Edit Patient"></i>
                        </a>
                        <a asp-route-PatientId="@patient.PatientId" asp-action="DeletePatient" asp-controller="Patient">
                            <i class="fas fa-trash-alt text-danger" title="Delete Patient"></i>
                        </a>    
                    }
                    <a asp-action="CreateDiagnosis" asp-controller="Diagnosis" asp-route-id="@patient.PatientId">
                        <i class="fas fa-book-medical text-primary" title="Create Diagnosis"></i>
                    </a>
                    <a asp-action="CreateLabTest" asp-controller="LabTests" asp-route-id="@patient.PatientId">
                        <i class="fas fa-flask text-info" title="Request Lab Test"></i>
                    </a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>