@using Lealthy_Hospital_Application_System.Models
@model List<Lealthy_Hospital_Application_System.Models.AppointmentModel>

@{
    ViewBag.Title = "Appointment Page";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
        @TempData["ErrorMessage"]

    </div>
}
<h2 class="text-center">List of Appointment</h2>
<div class="text-start">
<a asp-controller="Appointment" asp-action="CreateAppointment">
    <i class="fas fa-calendar-check text-success fa-2x" title="Add Appointment"></i>
</a>
</div>

<table class="table" id="tables">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Hour</th>
        <th scope="col">Doctor</th>
        <th scope="col">Patient</th>
        <th scope="col"></th>
        
    </tr>
    </thead>   
    <tbody>
    @if (Model != null && Model.Any())
    {
        foreach (AppointmentModel appointments in Model)
        {
            <tr>
                <th scope="row">@appointments.AppointmentId</th>
                <td>@appointments.Name</td>
                <td>@appointments.Date.ToString("dd/MM/yyyy")</td>
                <td>@appointments.Date.ToString("HH:mm")</td>
                <td>@appointments.StaffName</td>
                <td>@appointments.PatientName</td>
                <td>
                    <a  asp-route-id="@appointments.AppointmentId" asp-action="UpdateAppointment" asp-controller="Appointment">
                        <i class="fas fa-table text-warning" title="Edit Appointment"></i>
                    </a>
                    <a asp-route-id="@appointments.AppointmentId" asp-action="DeleteAppointment" asp-controller="Appointment">
                        <i class="fas fa-trash-alt text-danger" title="Delete Appointment"></i>
                    </a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>