@model ChangePasswordModel

@{
    ViewData["Title"] = "Change Password";
    Layout = "_Layout";
}

@if (TempData["SuccessMessage"] != null)
{
<div class="alert alert-success" role="alert">
    <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
    @TempData["SuccessMessage"]
</div>
}
@if (TempData["ErrorMessage"] != null)
{
<div class="alert alert-danger" role="alert">
    <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
    @TempData["ErrorMessage"]

</div>
}
<h2>Update your Password</h2>
<div class="row d-flex justify-content-center">
    <div class="col-lg-12">
        <div class="container">
            <form method="post" asp-controller="Password" asp-action="ChangeStaffPassword"
                  onsubmit="return confirm('Are you sure you want to update your password?')">

            <input type="hidden" asp-for="StaffId"/>
                <div class="text-center">
                    <label class="form-label">Old Password</label>
                    <input type="password" class="form-control text-center"  asp-for="OldPassword"  placeholder="Type your current password" required oninvalid="this.setCustomValidity('Please type your old password.')"/>
                    @Html.ValidationMessageFor(x => x.OldPassword)
                </div>
                <div class="text-center">
                    <label class="form-label">New Password</label>
                    <input type="password" class="form-control text-center" asp-for="NewPassword" placeholder="Type your new password" required oninvalid="this.setCustomValidity('Please type your new password.')"/>
                    @Html.ValidationMessageFor(x => x.NewPassword)
                </div>
                <div class="text-center">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" class="form-control text-center" asp-for="ConfirmNewPassword" placeholder="Confirm your new password" required oninvalid="this.setCustomValidity('Please confirm your new password.')"/>
                    @Html.ValidationMessageFor(x => x.ConfirmNewPassword)
                    
                </div>
                <br/>
                <button type="submit" class="btn btn-primary">Confirm</button>
                <a class="btn btn-secondary" asp-controller="Home" asp-action="StaffMyDetails">Back</a>
            </form>
        </div>
    </div>
</div>
<div>

</div>
