@model List<StaffModel>

@{
    ViewBag.Title = "Staff Page";
}
@if (TempData["SuccessMessage"] != null)
{
<div class="alert alert-success" role="alert">
    <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
    @TempData["SuccessMessage"]
</div>
}
@if (TempData["ErrorMessage"] != null)
{
<div class="alert alert-danger" role="alert">
    <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
    @TempData["ErrorMessage"]

</div>
}
<h2>Staffs</h2>
<a class="btn btn-success" asp-controller="Staff" asp-action="CreateStaff">Add Staff</a>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">Address</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Staff Role</th>
        <th scope="col"></th>
        
    </tr>
    </thead>   
    <tbody>
    @if (Model != null && Model.Any())
    {
        foreach (StaffModel staffs in Model)
        {
            <tr>
                <th scope="row">@staffs.StaffId</th>
                <td>@staffs.Name</td>
                <td>@staffs.Email</td>
                <td>@staffs.Mobile</td>
                <td>@staffs.Address</td>
                <td>@staffs.DateOfBirth.ToString("dd/MM/yyyy")</td>
                <td>@Html.DisplayFor(staffItem => staffs.Access)</td>
                <td>
                    <a role="button" class="btn btn-warning" asp-route-id="@staffs.StaffId" asp-action="UpdateStaff" asp-controller="Staff">Update</a>
                    <a role="button" class="btn btn-danger" asp-route-id="@staffs.StaffId" asp-action="DeleteStaff" asp-controller="Staff">Delete</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>