@model List<StaffModel>

@{
    ViewBag.Title = "Staff Page";
    Layout = "_Layout";
}
@if (TempData["SuccessMessage"] != null)
{
<div class="alert alert-success" role="alert">
    <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
    @TempData["SuccessMessage"]
</div>
}
@if (TempData["ErrorMessage"] != null)
{
<div class="alert alert-danger" role="alert">
    <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
    @TempData["ErrorMessage"]

</div>
}
<h2 class="text-center">List of Staffs</h2>
<div class="text-start">
    <a asp-controller="Staff" asp-action="CreateStaff">
        <i class="fas fa-user-plus text-success fa-2x" title="Add Staff"></i>
    </a>
</div>
<table class="table" id="tables">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">Address</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Staff Role</th>
        <th scope="col"></th>
    </tr>
    </thead>   
    <tbody>
    @if (Model != null && Model.Any())
    {
        foreach (StaffModel staffs in Model)
        {
            <tr>
                <th scope="row">@staffs.StaffId</th>
                <td>@staffs.Name</td>
                <td>@staffs.Email</td>
                <td>@staffs.Mobile</td>
                <td>@staffs.Address</td>
                <td>@staffs.DateOfBirth.ToString("dd/MM/yyyy")</td>
                <td>@Html.DisplayFor(staffItem => staffs.Access)</td>
                <td>
                    <a asp-route-id="@staffs.StaffId" asp-action="UpdateStaff" asp-controller="Staff">
                        <i class="fas fa-user-edit text-warning" title="Edit Staff"></i>
                    </a>
                    <a asp-route-id="@staffs.StaffId" asp-action="DeleteStaff" asp-controller="Staff">
                        <i class="fas fa-trash-alt text-danger" title="Delete Staff"></i>
                    </a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>